.friendList {
    list-style: none;
    margin: 0 auto;
    width: 400px;
    padding-left: 0;
}

.item {
    width: 400px;
    height: 112px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.avatar {
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 5px;
}

.status {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.name {
    margin-left: 15px;
}